<div class="container">
    <form class="form mat-elevation-z8">

        <h1>Help Desk Dicas de um DEV</h1>

        <img src="assets/img/login-image.svg" alt="Dicas de um DEV">

        <mat-form-field class="full-width" appearance="fill"> 
          <mat-label>E-mail</mat-label>
          <input matInput placeholder="Ex. seuEmail@email.com" >
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Ex. 123">
          </mat-form-field>
          <!--<button  class="centered-div" mat-raised-button>Entrar</button>-->
          <div class="botaoLogin">
            <button mat-raised-button>Entrar</button>
        </div>
      </form>     
</div>